cloud-altemistafwk-soap/cloud-altemistafwk-soap-it/src/main/resources/wsdl/TopDownExample.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.cloud.altemista.org/topDownExample" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TopDownExample" targetNamespace="http://it.cloud.altemista.org/topDownExample">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://it.cloud.altemista.org/topDownExample" elementFormDefault="unqualified" targetNamespace="http://it.cloud.altemista.org/topDownExample" version="1.0">

  <xs:element name="helloAnonymous" type="tns:helloAnonymous"/>

  <xs:element name="helloAnonymousResponse" type="tns:helloAnonymousResponse"/>

  <xs:element name="helloAuthenticatedUser" type="tns:helloAuthenticatedUser"/>

  <xs:element name="helloAuthenticatedUserResponse" type="tns:helloAuthenticatedUserResponse"/>

  <xs:element name="helloAuthorizedUser" type="tns:helloAuthorizedUser"/>

  <xs:element name="helloAuthorizedUserResponse" type="tns:helloAuthorizedUserResponse"/>

  <xs:complexType name="helloAuthorizedUser">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="helloAuthorizedUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="greetingContainer" type="tns:topDownExampleResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="topDownExampleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="greeting" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloAnonymous">
    <xs:sequence>
      <xs:element minOccurs="0" name="nameContainer" type="tns:topDownExampleRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="topDownExampleRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloAnonymousResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="greetingContainer" type="tns:topDownExampleResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloAuthenticatedUser">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="helloAuthenticatedUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="greetingContainer" type="tns:topDownExampleResponse"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="helloAuthorizedUserResponse">
    <wsdl:part element="tns:helloAuthorizedUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloAnonymous">
    <wsdl:part element="tns:helloAnonymous" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloAnonymousResponse">
    <wsdl:part element="tns:helloAnonymousResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloAuthenticatedUserResponse">
    <wsdl:part element="tns:helloAuthenticatedUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloAuthorizedUser">
    <wsdl:part element="tns:helloAuthorizedUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloAuthenticatedUser">
    <wsdl:part element="tns:helloAuthenticatedUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TopDownExample">
    <wsdl:operation name="helloAuthorizedUser">
      <wsdl:input message="tns:helloAuthorizedUser" name="helloAuthorizedUser">
    </wsdl:input>
      <wsdl:output message="tns:helloAuthorizedUserResponse" name="helloAuthorizedUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="helloAnonymous">
      <wsdl:input message="tns:helloAnonymous" name="helloAnonymous">
    </wsdl:input>
      <wsdl:output message="tns:helloAnonymousResponse" name="helloAnonymousResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="helloAuthenticatedUser">
      <wsdl:input message="tns:helloAuthenticatedUser" name="helloAuthenticatedUser">
    </wsdl:input>
      <wsdl:output message="tns:helloAuthenticatedUserResponse" name="helloAuthenticatedUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TopDownExampleSoapBinding" type="tns:TopDownExample">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="helloAuthorizedUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="helloAuthorizedUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="helloAuthorizedUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="helloAnonymous">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="helloAnonymous">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="helloAnonymousResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="helloAuthenticatedUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="helloAuthenticatedUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="helloAuthenticatedUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TopDownExample">
    <wsdl:port binding="tns:TopDownExampleSoapBinding" name="TopDownExamplePort">
      <soap:address location="http://it.cloud.altemista.org/soap/TopDownExample"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>